{{!-- formulaire de recherche --}}
<form id="formulaire-recherche" action="">
    <section class="section_hover" id="demande_lieu">
        <label for="">Lieu</label>
        <input type="text" placeholder="Où allez-vous ?">
    </section>
    <div class="separateur_vertical"></div>
    <section class="section_hover" id="demande_date_arrivee">
        <label for="">Arrivée</label>
        <input type="date" placeholder="Ajouter des dates">
    </section>
    <div class="separateur_vertical"></div>
    <section class="section_hover" id="demande_date_depart">
        <label for="">Départ</label>
        <input type="date" placeholder="Ajouter des dates">
    </section>
    <div class="separateur_vertical"></div>
    <section class="section_hover" id="demande_visiteurs">
        <label for="" >Visiteurs</label>
        <input type="text" placeholder="Ajouter des visiteurs">
    </section>
    <section id="loupe_recherche">
        <img id="loupe-icon" src="images/loupe-icon.png" alt="loupe">
    </section>
</form>
{{!-- slogan --}}
{{!-- exemples --}}
{{!-- à l'affiche --}}