{{!-- formulaire de recherche --}}
<form id="formulaire-recherche" action="">
    <section>
    <label for="">Lieu</label>
    <input type="text" placeholder="Dans quel coin allez-vous ?">
    </section>
    <section>
    <label for="">Arrivée</label>
    <input type="date" placeholder="Ajouter des dates">
    </section>
    <section>
    <label for="">Départ</label>
    <input type="date" placeholder="Ajouter des dates">
    </section>
    <section>
    <label for="" >Visiteurs</label>
    <input type="text" placeholder="Ajouter des visiteurs">
    </section>
    <section>
        <img id="loupe-icon" src="images/loupe-icon.png" alt="loupe">
    </section>
</form>
{{!-- slogan --}}
{{!-- exemples --}}
{{!-- à l'affiche --}}