<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeetYourFood</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav id="barre-d-accueil">
        <img src="#" alt="logo" />
        <ul>
          <li><a class="boutons_hover" href="#"> Devenir producteur-hôte</a></li>
          <li><a class="boutons_hover" href="#"> Langues</a></li>
          <li><a href="#"> Mon compte</a></li>
        </ul>
      </nav>
          {{{body}}}
    </header>
    <footer>
      <ul id="sommaire">
        <ul>
          <li>A PROPOS</li>
          <li><a href="#">Fonctionnement</a></li>
          <li><a href="#">Carrière</a></li>
        </ul>
        <ul>
          <li>COMMUNAUTE</li>
          <li><a href="#">Partenariat</a></li>
          <li><a href="#">Inviter des amis</a></li>
        </ul>
        <ul>
          <li>HOTE</li>
          <li><a href="#">Accueillir des visiteurs</a></li>
          <li><a href="#">Inviter des amis</a></li>
        </ul>
        <ul>
          <li>ASSISTANCE</li>
          <li><a href="#">Centre d'aide</a></li>
          <li><a href="#">Options d'annulation</a></li>
        </ul>
      </ul>
      <hr>
      <section id="bottom_footer">
        <p>©2020 MeetYourFood, Inc. All rights reserved</p>
        <ul id="liens">
          <li>Confidentialité</li>
          <li>Termes</li>
          <li>Plan de site</li>
        </ul>
        <ul>
          <li>langue de la page</li>
          <!--langage of the page-->
          <li>devise de la page</li>
          <!--currency of the page-->
        </ul>
        <ul>
          <li>
            <a href="#"><img src="/images/facebook-icon.png" alt="" /> </a>
          </li>
          <a href="#"><img src="/images/instagram-icon.jpg" alt="" /> </a>
          <a href="#"><img src="/images/twitter-icon.png" alt="" /> </a>
        </ul>
      </section>
    </footer>
  </body>
</html>
