* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

/* page d'accueil */
header {
  height: 100vh;
  background: url("images/ble.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

header #barre-d-accueil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

@media (max-width: 375px) {
  header #barre-d-accueil {
    visibility: hidden;
  }
}

header ul,
footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

header li,
footer li {
  margin: 20px;
}

header li a,
footer li a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

@media (max-width: 375px) {
  footer ul {
    flex-direction: column;
  }
}

.boutons_hover {
  padding: 15px;
}

.boutons_hover:hover {
  background: rgba(249, 165, 92, 0.2);
  border-radius: 40%;
}

.boutons_serres {
  justify-content: center;
}
/* footer sommaire */

#sommaire {
  padding-left: 0px;
  justify-content: space-between;
}

#sommaire ul {
  flex-direction: column;
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#sommaire ul li {
  margin: 4px;
  font-weight: 800;
}

#sommaire ul li :nth-child(1) {
  font-weight: 200;
}

/* bottom footer */
footer {
  background: #ebe6e1;
}

#bottom_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 375px) {
  #bottom_footer {
    flex-direction: column;
    align-items: start;
  }

  #bottom_footer > ul {
    display: flex;
    flex-direction: row;
  }

  #bottom_footer ul li {
    margin: 5px;
  }
}

#bottom_footer img {
  width: 2em;
}

#bottom_footer ul {
  align-items: center;
}

header,
#sommaire,
#bottom_footer {
  padding: 10px 70px;
}

@media (max-width: 375px) {
  header,
  #sommaire,
  #bottom_footer {
    padding: 10px 20px;
  }
}
