* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/*
##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ## 
*/
header {
  height: 100vh;
  background: url("images/ble.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

header #barre-d-accueil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

@media (max-width: 740px) {
  header #barre-d-accueil {
    visibility: hidden;
  }
}

header ul,
footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

header li,
footer li {
  margin: 20px;
}

header li a,
footer li a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

@media (max-width: 375px) {
  footer ul {
    flex-direction: column;
  }
}

.boutons_hover {
  padding: 15px;
}

.boutons_hover:hover {
  background: rgba(249, 165, 92, 0.2);
  border-radius: 40px;
}

.boutons_serres {
  justify-content: center;
}

/*formulaire de recherche*/

header #formulaire-recherche-mobile {
  visibility: hidden;
}

header #formulaire-recherche {
  background: rgba(254, 205, 136, 0.6);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 848px;
  border-radius: 60px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
}

@media (max-width: 928px) {
  /* à partir de 928px, la taille du formulaire de recherche n'est plus fixe elle réduit quand on réduit la page pour qu'elle rentre dans la page*/
  header #formulaire-recherche {
    width: 95%;
  }

  header #formulaire-recherche #demande_lieu,
  header #formulaire-recherche #demande_date_arrivee,
  header #formulaire-recherche #demande_date_depart,
  header #formulaire-recherche #demande_visiteurs {
    width: 22%;
  }
}

@media (max-width: 740px) {
  /* passer en mode mobile */
  header #formulaire-recherche {
    visibility: hidden;
  }

  header #formulaire-recherche-mobile {
    visibility: visible;
    background: rgba(254, 205, 136, 0.6);
    border-radius: 50px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    height: 50px;
  }

  header #formulaire-recherche-mobile #loupe-icon-mobile {
    width: 25px;
    align-self: center;
    margin-right: 10px;
  }

  header #formulaire-recherche-mobile input {
    align-self: center;
  }

  header #formulaire-recherche-mobile input {
    color: grey;
    border: none;
    height: 35px;
    background: none;
    font-size: 13px;
    font-family: inherit;
  }
}

header #formulaire-recherche section {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 70px;
  justify-content: center;
}

#formulaire-recherche #demande_lieu {
  padding: 10px 1em 10px 3em;
}

#formulaire-recherche label {
  color: green;
  margin-bottom: 10px;
  font-size: 15px;
}

#formulaire-recherche input {
  color: grey;
  border: none;
  height: 35px;
  background: none;
  font-size: 13px;
  font-family: inherit;
}

#formulaire-recherche input:focus {
  outline: none;
}

#formulaire-recherche .section_hover:hover,
.section_hover input:hover {
  background: rgba(225, 150, 80, 0.3);
  cursor: pointer;
}

#formulaire-recherche .section_hover label:hover {
  cursor: pointer;
}

#formulaire-recherche .separateur_vertical {
  background: grey;
  width: 1px;
  padding: -7px 0px;
  margin: 22px 0px;
}

header #formulaire-recherche section:last-child {
  margin: 0;
  padding-left: 0px;
}

header #formulaire-recherche section:last-child:hover {
  background: transparent;
}

#formulaire-recherche #loupe-icon {
  width: 60px;
  background: rgba(255, 20, 147, 1);
  color: black;
  padding: 8px;
  border-radius: 30px;
}

#formulaire-recherche #loupe_recherche {
  flex: 1;
  padding-right: 10px;
  padding-left: 5px;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
}

#formulaire-recherche #loupe-icon:hover {
  background: rgba(197, 52, 131, 1);
}

header #formulaire-recherche #demande_visiteurs {
  padding-right: 0px;
}

/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
*/
/* footer sommaire */

#sommaire {
  padding-left: 0px;
  justify-content: space-between;
}

#sommaire ul {
  flex-direction: column;
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#sommaire ul li {
  margin: 4px;
  font-weight: 800;
}

#sommaire ul li :nth-child(1) {
  font-weight: 200;
}

/* bottom footer */
footer {
  background: #ebe6e1;
}

#bottom_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
}

@media (max-width: 375px) {
  #bottom_footer {
    flex-direction: column;
    align-items: start;
  }

  #bottom_footer > ul {
    display: flex;
    flex-direction: row;
  }

  #bottom_footer ul li {
    margin: 5px;
  }
}

#bottom_footer img {
  width: 2em;
}

#bottom_footer ul {
  align-items: center;
}

#bottom_footer ul li {
  margin: 5px;
}

header,
#sommaire,
#bottom_footer {
  padding: 10px 40px;
}

@media (max-width: 375px) {
  header,
  #sommaire,
  #bottom_footer {
    padding: 10px 20px;
  }
}

i {
  font-size: 20px;
}

#liens_reseaux {
  width: 20%;
}
